
<input data-toggle="popover" data-content="Switch graph to show data {{unitTypeForGraph}}" data-title="" data-placement="auto" data-trigger="hover"
       type="button"
       ng-model="unitTypeForGraph"
       ng-click="toggleAxes(unitTypeForGraph)"
       class="btn btn-sm btn-info"
       value="Show Data {{unitTypeForGraph}}">
    </input>
<div google-chart chart="myChartObject"  style="height:450px; width:100%;"></div>