<div class="row" ng-style="{opacity: ((loading) && .4) || 1.0}">
    <div class="col-xs-12 col-md-6">
        <dualchart chart="energyChargesChart"></dualchart>
    </div>
    <div class="col-xs-12 col-md-6">
        <dualchart chart="electricityConsumptionChart"></dualchart>
    </div>
</div>

