<div class="row" ng-style="{opacity: ((loading) && .4) || 1.0}">
    <div class="col-xs-12 col-md-6">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption">{{::energyChargesChart.title}}</span>

                <div class="widget-buttons">
                    <a href="" widget-collapse></a>
                    <a href="" widget-dispose></a>
                </div>
            </div>
            <div class="show-hide-animate">
                <div ng-show="showAsBar" class="widget-body show-hide-animate" style="padding-top:20px">
                    <div class="chartcontainer" style="width: 100%;">
                        <canvas tc-chartjs-bar chart-options="barChartOptions" chart-data="costsBarChart" auto-legend></canvas>
                    </div>
                </div>
                <div ng-show="!showAsBar" class="widget-body show-hide-animate" style="height: 360px;  padding-top:5px; padding-right:0; padding-left:0">
                    <div class="col-lg-12" ng-if="energyChargesChart.data">
                        <div google-chart chart="energyChargesChart" style="height:330px; width:100%; padding-right:5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6" ng-style="{opacity: ((loading) && .4) || 1.0}">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption">{{::electricityConsumptionChart.title}}</span>

                <div class="widget-buttons">
                    <a href="" widget-collapse></a>
                    <a href="" widget-dispose></a>
                </div>
            </div>
            <div class="show-hide-animate">
                <div ng-show="showAsBar" class="widget-body show-hide-animate" style="padding-top:20px">
                    <div class="chartcontainer" style="width: 100%;">
                        <canvas tc-chartjs-bar chart-options="barChartOptions" chart-data="consBarChart" auto-legend></canvas>
                    </div>
                </div>
                <div ng-show="!showAsBar" class="widget-body show-hide-animate" style="height: 360px;  padding-top:5px; padding-right:0; padding-left:0">
                    <div class="col-lg-12" ng-if="electricityConsumptionChart.data">
                        <div google-chart chart="electricityConsumptionChart" style="height:330px; width:100%; padding-right:5px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

