
<div class="col-lg-6 col-sm-12 col-xs-12">
    <div class="widget" style="opacity:0.4">
        <div class="widget-header bordered-bottom bordered-themeprimary">
            <i class="widget-icon fa fa-tasks themeprimary"></i>
            <span class="widget-caption themeprimary">Datapoint Details</span>
        </div><!--Widget Header-->
        <div class="widget-body no-padding">
        </div><!--Widget Body-->
    </div>
</div>

