<ul class="account-area">
    <li>
        <a id="pg-alert-button" class="dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
            <i class="icon fa fa-warning"></i>
        </a>
        <!--Notification Dropdown-->
        <ul id="pg-alert" class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
            <li ng-repeat="message in msgs">
                <a href="#">
                    <div class="clearfix">
                        <div class="notification-icon">
                            <i class="{{message.element1}}"></i>
                        </div>
                        <div class="notification-body">
                            <span class="title">{{message.message}}</span>
                            <span class="description">{{message._timeStamp | date:'MMM d yyyy hh:mm a'}}</span>
                        </div>
                        <div class="notification-extra">
                            <i class="{{message.element2}}"></i>
                            <span class="description">{{message.footer}}</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="dropdown-footer ">
                <span>
                    {{common.usefulInfo.today | date:'EEE, d MMM'}}
                </span>
                <span class="pull-right">
                    {{common.usefulInfo.temperature}}°c
                    <i class="{{common.usefulInfo.weatherIcon}}"></i>
                </span>
            </li>
        </ul>
        <!--/Notification Dropdown-->
    </li>
    <li>
        <a id="pg-note-button" class="dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
            <i class="icon fa fa-envelope"></i>
            <span class="badge">3</span>
        </a>
        <!--Messages Dropdown-->
        <ul id="pg-note" class=" pull-right dropdown-menu dropdown-arrow dropdown-messages">
            <li>
                <a href="#">
                    <img src="/assets/img/avatars/{{avitar}}.jpg" class="message-avatar" alt="{{avitarName}}">
                    <div class="message">
                        <span class="message-sender">
                            {{name}}
                        </span>
                        <span class="message-time">
                            {{timeStamp}}
                        </span>
                        <span class="message-subject">
                            {{subject}}
                        </span>
                        <span class="message-body">
                            {{message}}
                        </span>
                    </div>
                </a>
            </li>
            <li></li>
        </ul>
        <!--/Messages Dropdown-->
    </li>

    <li>
        <a id="pg-todo-button" class="dropdown-toggle" data-toggle="dropdown" title="Tasks" href="#">
            <i class="icon fa fa-tasks"></i>
            <span class="badge">4</span>
        </a>
        <!--Tasks Dropdown-->
        <ul id="pg-todo" class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">
            <li class="dropdown-header bordered-darkorange">
                <i class="fa fa-tasks"></i>
                4 Tasks In Progress
            </li>

            <li>
                <a href="#">
                    <div class="clearfix">
                        <span class="pull-left">Account Creation</span>
                        <span class="pull-right">65%</span>
                    </div>

                    <div class="progress progress-xs">
                        <div style="width:65%" class="progress-bar"></div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="clearfix">
                        <span class="pull-left">Profile Data</span>
                        <span class="pull-right">35%</span>
                    </div>

                    <div class="progress progress-xs">
                        <div style="width:35%" class="progress-bar progress-bar-success"></div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="clearfix">
                        <span class="pull-left">Updating Resume</span>
                        <span class="pull-right">75%</span>
                    </div>

                    <div class="progress progress-xs">
                        <div style="width:75%" class="progress-bar progress-bar-darkorange"></div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <div class="clearfix">
                        <span class="pull-left">Adding Contacts</span>
                        <span class="pull-right">10%</span>
                    </div>

                    <div class="progress progress-xs">
                        <div style="width:10%" class="progress-bar progress-bar-warning"></div>
                    </div>
                </a>
            </li>

            <li class="dropdown-footer">
                <a href="#">
                    See All Tasks
                </a>
                <button class="btn btn-xs btn-default shiny darkorange icon-only pull-right"><i class="fa fa-check"></i></button>
            </li>
        </ul>
        <!--/Tasks Dropdown-->
    </li>
    <li>
        <a class="wave in btn-disable" id="chat-link" title="Chat" href="#">
            <i class="icon glyphicon glyphicon-comment"></i>
        </a>
    </li>
    <li style="width:180px;">
        <a class="login-area dropdown-toggle" data-toggle="dropdown">
            <div class="avatar" title="View your profile">
                <img src="{{common.companyLogo}}">
            </div>
            <section>
                <h2><span class="profile"><span>{{common.fullName}}</span></span></h2>
            </section>
        </a>
        <!--Login Area Dropdown-->
        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
            <li class="username"><a>{{common.fullName}}</a></li>
            <li class="email"><b>{{common.eMail}}</b></li>
            <!--Avatar Area-->
            <li>
                <div class="avatar-area">
                    <img width="60%" src="{{common.companyLogo}}" alt="Company" />
                </div>
            </li>
            <!--Avatar Area-->
            <li class="edit">
                <a href="@Url.Action("Index", "UserProfile")" class="pull-left">Profile</a>
                <a href="#" class="pull-right">Settings</a>
            </li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
            @Html.AntiForgeryToken()
            <li class="dropdown-footer">
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
            }
        </ul>
        <!--/Login Area Dropdown-->
    </li>
    <!-- /Account Area -->
    <!--Note: notice that setting div must start right after account area list.
    no space must be between these elements-->
    <!-- Settings -->
</ul>
