<div class="databox databox-xxlg databox-vertical databox-shadowed bg-white radius-bordered">
    <div class="databox-top bg-blue">
        <span class="databox-header">{{header}}</span>
    </div>
    <div class="databox-row row-12">
        <div class="databox-cell cell-6 text-center">
            <div id="{{dataFor}}Donut" class="chart" style="height:190px;"></div>
        </div>

        <div class="databox-cell cell-6 text-center databox-infoLines">
            <div class="databox-row row-1 padding-5 padding-left-10 text-align-left bordered-bottom bordered-whitesmoke">
                <div class="databox-cell cell-6">
                    <span class="databox-title no-margin">{{title}}</span>
                </div>
                <div class="databox-cell cell-6">
                    <span class="databox-number">
                        {{detail}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
