@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.Description = "forgotten password";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<div class="register-container animated fadeInDown">
    <div class="registerbox bg-white">
        <div class="registerbox-title">Forgotten Password</div>
        <hr class="wide" />
        <div class="registerbox-textbox no-padding-bottom">
            <i class="fa fa-check"></i><span class="text darkgray">Please check you email for password reset instructions</span>
        </div>
    </div>
    <div class="logobox">
    </div>
</div>
}

@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}