
<div class="col-lg-4 col-sm-12 col-xs-12">
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-themeprimary">
            <i class="widget-icon fa fa-tasks themeprimary"></i>
            <span class="widget-caption themeprimary">Datapoint Information</span>
        </div><!--Widget Header-->
        <div class="widget-body no-padding">
            <div class="task-container">
                <div class="task-search">
                    <span class="input-icon">
                        <input class="form-control" placeholder="Search Datapoints" ng-model="query" type="text">
                        <i class="fa fa-search gray"></i>
                    </span>
                </div>
                <ul class="tasks-list animate-repeat" ng-repeat="entry in dpData |  filter: { notes:query } | orderBy : 'date' : false" >
                    <li class="task-item">
                        <div class="task-check">
                            <label>
                                <input type="checkbox" ng-click="removeDatapoint(entry)">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class="task-state">
                            <span class="label label-orange">
                                {{entry.status}}
                            </span>
                        </div>
                        <div class="task-time">{{entry.date | date : "MMMM yyyy"}}</div>
                        <div class="task-body">
                            <p ng-bind-html="entry.notes"></p>
                        </div>
                        @*<div class="task-creator"><a href="">Cameron Hetfield</a></div>
                        <div class="task-assignedto">assigned to you</div>*@
                    </li>
                </ul>
            </div>
        </div><!--Widget Body-->
    </div>
</div>

