<div class="databox databox-lg databox-vertical databox-shadowed bg-white radius-bordered" style="height:auto;">
    <div class="databox-row bg-themeprimary">
        <div class="databox-cell cell-4 text-align-center bg-themeprimary">
            <span class="databox-number">{{invoiceDetail.invoiceNumber}} &nbsp;<i class="fa {{invoiceDetail.invoiceIcon}} no-margin"></i></span>
        </div>
        <div class="databox-cell cell-4 text-align-center bg-themeprimary border-custom">
            <span class="databox-number">Billing Period {{invoiceDetail.invoiceKeyDate | date:'MMMM y'}}</span>
        </div>
        <div class="databox-cell cell-4 text-align-center bg-themeprimary">
            <span class="databox-number white tootip-info" data-container="body" data-titleclass="bordered-blue" data-class="dark" data-toggle="popover-hover" data-placement="auto"
                  data-title="Change" data-content="Percentage increase / decrease in invoice total compared with last month" data-original-title="" title="">
                {{invoiceDetail.percentageChange | number:2}} %
                <i class="fa {{invoiceDetail.arrow}} no-margin"></i>
            </span>
        </div>
    </div>
    <div class="databox databox-lg databox-vertical databox-shadowed bg-white radius-bordered" style="height:auto!important;">
        <div class="databox-top">
        </div>
        <div class="databox-row row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="databox-cell cell-12 text-center padding-15 padding-bottom-30 row">
                    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-5 text-align-left" ng-show="!invoiceDetail.approved">
                        <div class="databox-cell cell-12">
                            @*<label>
                            <input type="checkbox" ng-model="invoiceDetail.approved" ng-click="approveInvoice(invoiceDetail.approved, invoiceDetail.invoiceId)">
                            <span class="text">Approved</span>
                        </label>*@
                            <span ng-show="!invoiceDetail.approved" ng-click="approveInvoice(invoiceDetail.approved, invoiceDetail.invoiceId)"
                                  class="btn btn-info pull-right">
                                Approve
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="databox-number darkgray pull-left no-margin ">Invoice Due Date</span>
                        <span class="databox-number darkgray pull-right no-margin"><b>{{invoiceDetail.invoiceDueDate | date:mediumDate}}</b></span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10" ng-show="invoiceDetail.approved">

                        <div class="databox-cell cell-12 text-left padding-15">
                            <div class="databox-text storm-cloud">approval date</div>
                            <div class="databox-number sonic-silver">{{invoiceDetail.approvedDate | date:'MMM d, y'}}</div>

                        </div>
                        <div class="databox-cell cell-12 text-left padding-15">
                            <div class="databox-text storm-cloud hidden-xs">approved by</div>
                            <div class="databox-number sonic-silver">{{invoiceDetail.approversName}}</div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="databox-cell cell-12 text-center  no-padding">
                    <div id="{{doPageElement}}" class="chart extended-databox"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="databox-cell cell-12 text-center padding-bottom-30 row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="databox-number darkgray pull-left no-margin ">Invoice Due Date</span>
                        <span class="databox-number darkgray pull-right no-margin"><b>{{invoiceDetail.invoiceDueDate | date:mediumDate}}</b></span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="databox-number darkgray pull-left no-margin ">Invoice Number</span>
                        <span class="databox-number darkgray pull-right no-margin"><b>{{invoiceDetail.invoiceNumber}}</b></span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="badge badge-blue badge-empty pull-left margin-5"></span>
                        <span class="databox-number darkgray pull-left no-margin ">{{invoiceDetail.energyChargesLabel}}</span>
                        <span class="databox-number darkgray pull-right no-margin uppercase">{{invoiceDetail.energyChargesTotal | currency:$}}</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="badge badge-orange badge-empty pull-left margin-5 padding-top-5"></span>
                        <span class="databox-number darkgray pull-left no-margin ">{{invoiceDetail.networkChargesLabel}}</span>
                        <span class="databox-number darkgray pull-right no-margin uppercase">{{invoiceDetail.networkChargesTotal | currency:$}}</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="badge badge-yellow badge-empty pull-left margin-5"></span>
                        <span class="databox-number darkgray pull-left no-margin ">{{invoiceDetail.miscChargesLabel}}</span>
                        <span class="databox-number darkgray pull-right no-margin uppercase">{{invoiceDetail.miscChargesTotal | currency:$}}</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @*<span class="badge badge-empty pull-left margin-5"></span>*@
                        <span class="pull-left margin-10"></span>
                        <span class="databox-number darkgray pull-left no-margin">GST</span>
                        <span class="databox-number darkgray pull-right no-margin uppercase">{{invoiceDetail.gstTotal | currency:$}}</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="databox-number darkgray pull-left no-margin ">Invoice Total (Incl. GST)</span>
                        <span class="databox-number darkgray pull-right no-margin uppercase"><b>{{invoiceDetail.invoiceTotal | currency:$ }}</b></span>
                    </div>
                    @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="databox-cell cell-6 text-left">
                            <div class="databox-text darkgray">due date</div>
                            <div class="databox-number darkgray">{{invoiceDetail.invoiceDueDate | date:mediumDate}}</div>
                        </div>
                        <div class="databox-cell cell-6 text-right">
                            <div class="databox-text darkgray">bill total</div>
                            <div class="databox-number darkgray">{{invoiceDetail.invoiceTotal | currency:$ }}</div>
                        </div>
                    </div>*@

                </div>
            </div>
        </div>
        <div class="databox-top">
        </div>
    </div>
</div>


@*<div class="databox databox-xxlg databox-vertical databox-inverted">
        <div class="databox-top bg-whitesmoke no-padding">
            <div class="databox-row row-2 bg-orange no-padding">
                <div class="databox-cell cell-1 text-align-center no-padding padding-top-5">
                    <span class="databox-number white"><i class="fa fa-bar-chart-o no-margin"></i></span>
                </div>
                <div class="databox-cell cell-3 no-padding padding-top-5 text-align-left">
                    <span class="databox-number white">Invoice No : {{invoiceDetail.invoiceNumber}}</span>
                </div>
                <div class="databox-cell cell-4 no-padding padding-top-5 text-align-left">
                    <span class="databox-number white">{{invoiceDetail.invoiceDate | date:'MMMM d, y'}}</span>
                </div>
                <div class="databox-cell cell-4 text-align-right padding-10">
                    <span class="databox-text white">
                        <span class="databox-number white tootip-info" data-container="body" data-titleclass="bordered-blue" data-class="dark" data-toggle="popover-hover" data-placement="right"
                              data-title="Change" data-content="Percentage increase / decrease in invoice total compared with last month" data-original-title="" title="">
                            {{invoiceDetail.percentageChange | number:2}} %
                            <i class="fa {{invoiceDetail.arrow}} no-margin"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="databox-row row-4">
                <div class="databox-cell cell-6 no-padding padding-10 padding-left-20 text-align-left">
                    <span class="databox-number orange no-margin">534,908</span>
                    <span class="databox-text sky no-margin">OVERAL VIEWS</span>
                </div>
                <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                    <span class="databox-number orange no-margin">4,129</span>
                    <span class="databox-text darkgray no-margin">THIS WEEK</span>
                </div>
                <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                    <span class="databox-number orange no-margin">329</span>
                    <span class="databox-text darkgray no-margin">YESTERDAY</span>
                </div>
                <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                    <span class="databox-number orange no-margin">104</span>
                    <span class="databox-text darkgray no-margin">TODAY</span>
                </div>
            </div>
            <div class="databox-row row-6 no-padding">
                <div class="databox-sparkline">
                    <div ui-options="[5,7,6,5,9,4,3,7,2], {type:'line', height:126, width:'100%', fillColor:'#37c2e2', lineColor:'#37c2e2', spotColor:'#fafafa', minSpotColor:'#fafafa', maxSpotColor:'#ffce55', highlightSpotColor:'#fff', highlightLineColor:'#fff', lineWidth:2, spotRadius:0 }" ui-jq="sparkline" style="height: 65px;"><canvas style="display: inline-block; width: 528px; height: 126px; vertical-align: top;" width="528" height="126"></canvas></div>
                </div>
            </div>
        </div>
        <div class="databox-bottom bg-sky no-padding">
            <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                <span class="databox-header white">Mon</span>
            </div>
            <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                <span class="databox-header white">Tues</span>
            </div>
            <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                <span class="databox-header white">Wed</span>
            </div>
            <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                <span class="databox-header white">Thu</span>
            </div>
            <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                <span class="databox-header white">Fri</span>
            </div>
            <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                <span class="databox-header white">Sat</span>
            </div>

        </div>
    </div>*@


