<div class="row col-md-12">
    <span ng-if="filter" class="databox-number white tootip-info"
          data-container="body"
          data-titleclass="bordered-blue"
          data-class="dark"
          data-toggle="popover"
          data-placement="auto"
          data-title="Detail by Site"
          data-content="Show details for sites in this division"
          data-original-title="" title=""
          data-trigger="hover">
        <a href="{{href}}/{{filter}}">
            <i class="fa fa-2x fa-sitemap" style="color:#0072c6"></i>
        </a>
    </span>
</div>