<div class="widget-header {{border}}">
    <!--style="background:">-->
    <span class="widget-caption">
        {{::chart.title}}&nbsp
        <!--<i ng-show="chart.filtersActive" class="fa fa-filter">-->
        <span ng-show="chart.filtersActive" class="databox-number white tootip-info pull-right"
              data-container="body"
              data-titleclass="bordered-blue"
              data-class="dark"
              data-toggle="popover"
              data-placement="auto"
              data-title="Filtered Data"
              data-content="Data in this chart has been filtered according to your selection(s) from the dropdowns above"
              data-original-title="" title=""
              data-trigger="hover">
            <i class="fa fa-filter" style="color:#262626"></i>
        </span>
        <!--</i>-->
    </span>
    <div class="widget-buttons">
        <a href="" widget-collapse></a>
        <!--<a href="" widget-dispose></a>-->
    </div>
</div>
