<div class="row">
    <div class="col-lg-4 col-xs-12 col-sm-6 visible-lg visible-md hidden-xs hidden-sm">
        <div class="margin-top-10 visible-xs hidden-lg hidden-md"></div>
        <div class="row">
            <div class="col-xs-2 col-sm-2">
                <span ng-show="false" class="databox-number white tootip-info pull-right" data-container="body" data-titleclass="bordered-blue" data-class="dark" data-toggle="popover" data-placement="auto"
                      data-title="Comparing Data Between Sites" data-content="Lines show comparative costs and consumption between the selected sites. The largest value in each category will fill the available space." data-original-title="" title="" data-trigger="hover">
                    <i class="fa fa-2x fa-info-circle" style="color:#262626"></i>
                </span>
            </div>
            <div class="col-xs-2 col-sm-2">
                <label data-toggle="popover" data-content="Include sites with no data" data-title="" data-placement="auto" data-trigger="hover">
                    <input type="checkbox" ng-model="showEmpty">
                    <span class="text" style="color:black">All</span>
                </label>

            </div>
            <div class="col-xs-4 col-sm-4">
                <label data-toggle="popover" data-content="Sort by Total Charge" data-title="" data-placement="auto" data-trigger="hover">
                    <span ng-click="order('invoiceCosts.invoiceValue')" class="btn btn-sm btn-default shiny active">
                        <i class="stat-icon fa {{sortArrow}}" ng-show="predicate=='invoiceCosts.invoiceValue'"></i>Total Charge
                    </span>
                </label>
            </div>
            <div class="col-xs-4 col-sm-4">
                <label data-toggle="popover" data-content="Sort by Site Name" data-title="" data-placement="auto" data-trigger="hover">
                    <span ng-click="order('siteName')" class="btn btn-sm btn-default shiny active">
                        <i class="stat-icon fa {{sortArrow}}" ng-show="predicate=='siteName'"></i>Site Name
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xs-12 col-sm-6" ng-init="options={};options.selected=true">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-3">
                <label ng-hide="false">
                    <input class="checkbox-slider toggle colored-blue" ng-model="showValue" type="checkbox" ng-init="showValue=options.selected">
                    <span class="text">&nbsp; Energy Charges</span>
                </label>
            </div>
            <div class="visible-xs hidden-md hidden-sm clearfix">&nbsp;</div>
            <div class="col-md-3 col-xs-12 col-sm-3">
                <span></span>
                <label ng-hide="false">
                    <input class="checkbox-slider toggle colored-warning" ng-model="showKwh" type="checkbox" ng-init="showKwh=options.selected">
                    <span class="text">&nbsp;Total kWh</span>
                </label>
            </div>
            <div class="visible-xs hidden-md hidden-sm clearfix">&nbsp;</div>
            <div class="col-md-3 col-xs-12 col-sm-3">
                <span></span>
                <label ng-hide="false">
                    <input class="checkbox-slider toggle colored-palegreen" ng-model="showUsqm" type="checkbox" ng-init="showUsqm=options.selected">
                    <span class="text">&nbsp;Units per sqM</span>
                </label>
            </div>
            <div class="visible-xs hidden-md hidden-sm clearfix">&nbsp;</div>
            <div class="col-md-3 col-xs-12 col-sm-3">
                <span></span>
                <label ng-hide="false">
                    <input class="checkbox-slider toggle colored-magenta" ng-model="showCsqm" type="checkbox" ng-init="showCsqm=options.selected">
                    <span class="text">&nbsp;Cost per sqM</span>
                </label>
            </div>
        </div>
    </div>

</div>