
<div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 col-sm-6 visible-lg visible-md hidden-xs hidden-sm">
        <div class="margin-top-10 visible-xs hidden-lg hidden-md"></div>
        <div class="row margin-bottom-10">
            <div class="col-xs-3 col-sm-4">
                <label data-toggle="tooltip" title="Sort by Total Value" data-placement="auto" class="tooltip-info">
                    <span ng-click="order('billTotal')" class="btn-sm btn-labeled btn-info shiny tooltip-palegreen">
                        <i class="stat-icon fa {{sortArrow}}" ng-show="predicate=='billTotal'"></i>Total Value
                    </span>
                </label>
            </div>
            <div class="col-xs-3 col-sm-3">
                <label data-toggle="tooltip" title="Sort by Site Name" data-placement="auto" class="tooltip-info">
                    <span ng-click="order('site')" class="btn-sm btn-labeled shiny btn-info ">
                        <i class="stat-icon fa {{sortArrow}}" ng-show="predicate=='site'"></i>Site
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12" ng-init="options={};options.selected=true">
        <div class="row">
            <div class="col-md-3 col-xs-12 col-sm-6">
                <label ng-hide="false">
                    <input class="checkbox-slider slider-icon colored-primary" ng-model="showValue" type="checkbox" ng-init="showValue=options.selected">
                    <span class="text">&nbsp;&nbsp;Energy Charges</span>
                </label>
            </div>
            <div class="visible-xs hidden-md hidden-sm clearfix">&nbsp;</div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <span></span>
                <label ng-hide="false">
                    <input class="checkbox-slider slider-icon colored-warning" ng-model="showKwh" type="checkbox" ng-init="showKwh=options.selected">
                    <span class="text">&nbsp;&nbsp;Total kWh</span>
                </label>
            </div>
            <div class="visible-xs hidden-md hidden-sm clearfix">&nbsp;</div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <span></span>
                <label ng-hide="false">
                    <input class="checkbox-slider slider-icon colored-success" ng-model="showUsqm" type="checkbox" ng-init="showUsqm=options.selected">
                    <span class="text">&nbsp;&nbsp;Units per sqM</span>
                </label>
            </div>
            <div class="visible-xs hidden-md hidden-sm clearfix">&nbsp;</div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <span></span>
                <label ng-hide="false">
                    <input class="checkbox-slider slider-icon colored-orange" ng-model="showCsqm" type="checkbox" ng-init="showCsqm=options.selected">
                    <span class="text">&nbsp;&nbsp;Cost per sqM</span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-12 col-sm-6 hidden-lg hidden-md hidden-xs hidden-sm">
        <div class="margin-top-10 visible-xs hidden-lg hidden-md"></div>
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <label data-toggle="tooltip" title="Sort by Total Value" data-placement="auto" class="tooltip-palegreen">
                    <span ng-click="order('billTotal')" class="btn-sm btn-labeled btn-palegreen tooltip-palegreen">
                        <i class="stat-icon fa {{sortArrow}}" ng-show="predicate=='billTotal'"></i>Total Value
                    </span>
                </label>
            </div>
            <div class="col-xs-6 col-sm-6">
                <label data-toggle="tooltip" title="Sort by Site Name" data-placement="auto" class="tooltip-palegreen">
                    <span ng-click="order('site')" class="btn-sm btn-labeled btn-palegreen ">
                        <i class="stat-icon fa {{sortArrow}}" ng-show="predicate=='site'"></i>Site
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
<hr class="wide">
@*<div ng-repeat="invoice in invoiceDetail |orderBy:predicate:reverse">
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <p><b><span>{{invoice.site}} <i>({{invoice.invCount}} invoices on file, total value of {{invoice.billTotal | currency:$}})</i></span></b></p>
            </div>
        </div>
        <div class="row" ng-show="showValue">
            <div class="col-lg-3 col-xs-3 col-sm-3">
                <div class="row">
                    <div class="col-lg-4 col-xs-4 col-sm-4">
                    </div>
                    <div class="col-lg-8 col-xs-8 col-sm-8">
                        <span>Energy Charges</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-9 col-sm-9 progress-compact progress-bordered">
                <div ng-repeat="values in invoice.power">
                    <div class="progress-bar progress-bar-{{invTheme[$index+1].theme}}" style="width: {{values.percent}}%">
                        <span ng-show="values.percent>10"> {{values.reading | currency:$}} </span>
                        <span ng-show="values.percent<=10">&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="showKwh">
            <div class="col-lg-3 col-xs-3 col-sm-3">
                <div class="row">
                    <div class="col-lg-4 col-xs-4 col-sm-4">
                    </div>
                    <div class="col-lg-8 col-xs-8 col-sm-8">
                        <span>Total kWh</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-9 col-sm-9 progress-compact progress-bordered">
                <div ng-repeat="values in invoice.kWh">
                    <div class="progress-bar progress-bar-{{invTheme[$index+1].theme}}" style="width: {{values.percent}}%">
                        <span> {{values.reading | number:0}} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="showUsqm">
            <div class="col-lg-3 col-xs-3 col-sm-3">
                <div class="row">
                    <div class="col-lg-4 col-xs-4 col-sm-4">
                    </div>
                    <div class="col-lg-8 col-xs-8 col-sm-8">
                        <span>Units per sqM</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-9 col-sm-9 progress-compact progress-bordered">
                <div ng-repeat="values in invoice.upsqm">
                    <div class="progress-bar progress-bar-{{invTheme[$index+1]}}" style="width: {{values.percent}}%">
                        <span> {{values.units}} {{values.reading | number:2}}  </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="showCsqm">
            <div class="col-lg-3">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-8">
                    <span>Cost per sqM</span>
                </div>
            </div>
            <div class="col-lg-9 progress-compact progress-bordered">
                <div ng-repeat="values in invoice.cpsqm">
                    <div class="progress-bar progress-bar-{{invTheme[$index+1]}}" style="width: {{values.percent}}%">
                        <span> {{values.reading | currency:$}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div ng-repeat="invoice in invoiceDetail |orderBy:predicate:reverse" id="analysisPortal" >
    <table class="table table-hover">
        <tr class="well with-header" style="background-color:#f5f5f5!important;">
            <th colspan="12">
                <span>{{invoice.site}} <i>({{invoice.invCount}} invoices on file, total value of {{invoice.billTotal | currency:$}})</i></span>
            </th>
        </tr>
        <tbody>
            <tr ng-show="showValue">
                <td width="30%" class="responsive-td"><span>Energy Charges</span></td>
                <td width="70%">
                    <div ng-repeat="values in invoice.power">
                        <div class="progress-bar progress-bar-{{invTheme[$index+1].theme}}" style="width: {{values.percent}}%">
                            <span ng-show="values.percent>10"> {{values.reading | currency:$}} </span>
                            <span ng-show="values.percent<=10">&nbsp;</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="showKwh">
                <td width="30%" class="responsive-td"><span>Total kWh</span></td>
                <td width="70%">
                    <div ng-repeat="values in invoice.kWh">
                        <div class="progress-bar progress-bar-{{invTheme[$index+1].theme}}" style="width: {{values.percent}}%">
                            <span> {{values.reading | number:0}} </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="showUsqm">
                <td width="30%" class="responsive-td"><span>Units per sqM</span></td>
                <td width="70%">
                    <div ng-repeat="values in invoice.upsqm">
                        <div class="progress-bar progress-bar-{{invTheme[$index+1]}}" style="width: {{values.percent}}%">
                            <span> {{values.units}} {{values.reading | number:2}}  </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr ng-show="showCsqm">
                <td width="30%" class="responsive-td"><span>Cost per sqM</span></td>
                <td width="70%">
                    <div ng-repeat="values in invoice.cpsqm">
                        <div class="progress-bar progress-bar-{{invTheme[$index+1]}}" style="width: {{values.percent}}%">
                            <span> {{values.reading | currency:$}} </span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
