
<div id="other1" class="tab-pane padding-5 animated fadeInUp">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div height="250px" style="width: 100%; display: block;" class="chart chart-lg no-margin">
                <flot dataset="visitChartData" options="visitChartOptions"></flot>
            </div>
            @*<div height="250px" style="width: 100%; display: block;" ui-jq="plot" ui-options="{{visitChartData}}, {{visitChartOptions}}"
                     class="chart chart-lg no-margin">
                </div>*@
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>