<div id="other2" class="tab-pane  animated fadeInUp">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div height=" 250px" style="width: 100%; display: block;" class="chart chart-lg">
                <flot dataset="SelectableChartData" options="SelectableChartOptions"></flot>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
