
<div class="dd shadowed">
    <ol class="dd-list">
        <li class="dd-item" data-id="1">
            <div class="dd-handle">
                {{data.groupName}}
            </div>
            <ol class="dd-list">
                <li class="dd-item bordered-blue" data-id="4" ng-repeat="cust in data.customerData" ng-click="dbInvoiceValues()">
                    <div class="dd-handle">{{cust.customerName}}</div>
                </li>
            </ol>
        </li>
    </ol>
</div>
