
<div class="row col-lg-12">
    <div class="col-lg-6">
        <span>
            <form class="form-inline">
                Search:
                <input ng-model="query" type="text"
                       placeholder="Invoice number" autofocus>
            </form>
        </span>
        <span>
            <label data-toggle="tooltip" title="Sort by Invoice Date">
                <span ng-click="order('invoiceDate')" class="btn-sm btn-labeled btn-palegreen">
                    <i class="stat-icon fa {{sortArrow}}" ng-show="predicate=='invoiceDate'"></i>Invoice Date
                </span>
            </label>
            <label data-toggle="tooltip" title="Sort by Invoice Total">
                <span ng-click="order('invoiceTotal')" class="btn-sm btn-labeled btn-palegreen">
                    <i class="stat-icon fa {{sortArrow}}" ng-show="predicate=='invoiceTotal'"></i>Invoice Total
                </span>
            </label>
        </span>
    </div>
    <div class="col-lg-6" ng-init="options={};options.selected=true; options.all=true">
        <span>Show invoice types:</span>
        <span class="checkbox col-lg-4">
            <label>
                <input class="colored-success" ng-model="selectItems.showAll" type="checkbox" ng-init="selectItems.showAll=options.all">
                <span class="text">All</span>
            </label>
        </span>
        <span class="checkbox col-lg-4" >
            <label>
                <input class="colored-success" ng-model="selectItems.showApproved" type="checkbox" ng-init="selectItems.showApproved=options.selected">
                <span class="text">Approved</span>
            </label>
        </span>
        <span class="checkbox col-lg-4" >
            <label>
                <input class="colored-success" ng-model="selectItems.showMissing" type="checkbox" ng-init="selectItems.showMissing=options.selected">
                <span class="text">Missing</span>
            </label>
        </span>
        <span class="checkbox col-lg-4" >
            <label>
                <input class="colored-success" ng-model="selectItems.showToApprove" type="checkbox" ng-init="selectItems.showToApprove=options.selected">
                <span class="text">To Be Approved</span>
            </label>
        </span>
    </div>
</div>
@*<span class="sortorder" ng-show="predicate === 'orderDate'" ng-class="{reverse:reverse}"></span>*@
<div class="row">
    <div ng-repeat="inv in invoiceData | filter: { invoiceNumber:query } |invType:selectItems |orderBy:predicate:reverse" class="col-lg-4 col-md-6">
        <div class="well bordered-left bordered-themeprimary" style="margin-bottom:2px;padding:10px;">
            <b>{{inv.invoiceNumber}} </b><span>{{inv.invoiceId}}</span>
            <span ng-show="inv.approved">
                <span class="databox-text pull-right">{{inv.approversName}} on <b>{{inv.approvedDate |  date:mediumDate}}</b></span>
            </span>
        </div>
        <div class="databox databox-lg radius-bordered databox-shadowed" ng-style=setOpacity(inv.invoiceNumber)>

            <div class="databox-left bg-white">
                <div ng-class="pctBoxStyle(inv.percentageChange)">
                    <div class="stat-text">{{inv.percentageChange | number:1}} %</div>
                    @*<i class="stat-icon fa fa-long-arrow-up"></i>*@
                    <i ng-class="negativeValue(inv.percentageChange)"></i>
                </div>
                <div class="databox-cell cell-12 no-padding padding-top-30  text-align-center">
                    <span class="databox-number orange no-margin">
                        <a href="@Url.Action("InvoiceDetail", "Portal")/{{inv.invoiceId}}" title="Invoice Details">
                            <i class="fa fa-cogs"></i>
                        </a>
                        <a ng-show="{{inv.invoicePdf}} " href="https://cimsco.blob.core.windows.net/{{inv.siteId|padNumber:6}}/{{inv.invoiceId|padNumber:8}}.pdf" title="Download PDF">
                            <i class="fa fa-download"></i>@*{{inv.siteId|padNumber:6}}/{{inv.invoiceId|padNumber:8}}.pdf*@
                        </a>
                    </span>
                </div>
            </div>
            <div class="databox-right bordered-thick bordered-sky bg-white">
                <div class="row">
                    <div class="col-lg-8 nopadding" style="padding-left: 10px;">
                        <div class=" databox-number sky item-left">
                            <i class="fa fa-calendar"></i>{{inv.invoiceDate | date:mediumDate}}
                        </div>
                        <div class="databox-header darkgray">
                            {{inv.invoiceTotal | currency:$}}
                        </div>
                    </div>
                    <div class="col-lg-4 nopadding item-right" style="padding-right: 10px; padding-left: 0">
                        @*<span class="darkgray databox-text pull-right">Inv no: <b>{{inv.invoiceNumber}}</b></span>
                            <span class="darkgray databox-text pull-right">Approved: <b>{{inv.approvedDate |  date:mediumDate}}</b></span>*@
                        @*<span ng-show="inv.verified" class="btn-xs btn-labeled btn-maroon pull-right">
                                <i class="btn-label glyphicon glyphicon-ok"></i>
                                Verified
                            </span>*@
                        <span ng-show="inv.verified" class="btn-xs  btn-maroon pull-right">
                            <i class="fa fa-eye"></i>
                        </span>
                        @*<span ng-show="inv.approved" class="btn-xs btn-labeled btn-palegreen pull-right">
                                <i class="btn-label glyphicon glyphicon-ok"></i>
                                Approved<i class="fa fa-eye"></i>
                            </span>*@
                        <span data-toggle="tooltip" title="Sort by Invoice Total" ng-show="inv.approved" class="btn-xs btn-palegreen pull-right">
                            <i class="fa fa-check"></i>
                        </span>
                        @*<span ng-show="!inv.approved" ng-click="approveInv(inv.approved, inv.invoiceId, $index)"
                                  class="btn-sm btn-labeled btn-info pull-right" value="Approve">
                                Approve
                            </span>*@
                        <span ng-show="!inv.approved" ng-click="approveInv(inv.approved, inv.invoiceId)"
                              class="btn btn-info pull-right">
                            Approve
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .sortorder:after {
        content: '\25b2';
    }

    .sortorder.reverse:after {
        content: '\25bc';
    }
</style>

