<div class="databox databox-xxlg databox-vertical databox-shadowed bg-white radius-bordered">
    <div class="databox-top bg-blue">
        <span class="databox-header">{{month}}</span>
    </div>
    <div class="databox-row row-12">
        <div class="databox-cell cell-6 text-center">
            <div id="{{elementId}}" class="chart" style="height:190px;"></div>
        </div>

        <div id="databox-infoLines" class="databox-cell cell-6 text-center">
            <div class="databox-row row-1 padding-5 padding-left-10 text-align-left bordered-bottom bordered-whitesmoke">
                <div class="databox-cell cell-6">
                    <span class="databox-title no-margin">BILL TOTAL</span>
                </div>
                <div class="databox-cell cell-6">
                    <span class="databox-number">
                        $10,445.45
                    </span>
                </div>
            </div>
            <div class="databox-row row-1 padding-5 padding-left-10 text-align-left bordered-bottom bordered-whitesmoke">
                <div class="databox-cell cell-6">
                    <span class="databox-title no-margin">DUE DATE</span>
                </div>
                <div class="databox-cell cell-6">
                    <span class="databox-number">
                        26 Feb 2015
                    </span>
                </div>
            </div>


            <div class="databox-row row-12">
                <div class="databox-text carbon">TOTAL CHARGE : {{total}}</div>
                <div class="databox-text carbon">DUE DATE : {{dueDate}}</div>
                <div class="databox-text carbon">
                    <label>
                        <input id="checkbox_approved" type="checkbox" {{checked}}>
                        <span class="text">Approved</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
