@{
    ViewBag.Title = "Company Dashboard";
    ViewBag.Description = "Company Dashboard";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<link href="~/App_/external/angular-ui-select/select.min.css" rel="stylesheet" />
<div data-ng-app="app.dashboard" data-ng-controller="app.dashboard.ctrl">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header bg-themeprimary">
                    <span class="widget-caption">{{welcomeHeader}}</span>

                    <div class="widget-buttons">
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div>
                </div>
                <div class="widget-body">
                    <div style="width: 100%;">
                        <span><h2><b>ALPHA build</b> - Version 0.7.0</h2></span>
                        <span ng-repeat="line in welcomeText"><h5>{{line}}</h5></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <toaster-container></toaster-container>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header bg-themeprimary">
                    @*<i class="widget-icon fa fa-compress"></i>*@
                    <span class="widget-caption">
                        <i ng-show="loading" class="fa fa-refresh fa-fw" ng-class="{'fa-spin' : loading}"></i>
                        <span class="sr-only">Loading...</span>
                        @*<strong> {{activeSites}}</strong> -*@
                        <span ng-show="!loading">
                            <ng-pluralize count="activeSites"
                                          when="{'1': '{} Site,', 'other': '{} Sites,'}">
                            </ng-pluralize>
                            showing {{monthSpan}} months of data
                        </span>
                    </span>
                    <span filterdropdowns></span>
                    <div class="widget-buttons">
                        <div class="btn-group">
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-sm">Last {{monthSpan}} Months</a>
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default  btn-sm dropdown-toggle " aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="_month in monthSpanOptions " data-ng-click="reviseMonths(_month)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}">
                                    <a href="javascript:void(0);"><i class="widget-icon fa fa-calendar"></i>&nbsp;&nbsp;{{_month}} months</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="widget-body" ng-style="{opacity: ((loading) && .4) || 1.0}">
                    <p style="padding: 0;" class="bg-whitesmoke">
                        @Html.Partial("DashboardPartials/_DashboardSortHeader")
                    </p>
                    <div class="horizontal-space space-sm"></div>
                    <div class="row" ng-style="{opacity: ((loading) && .4) || 1.0}">
                        <div class="col-xs-12 col-md-6">
                            <div class="widget">
                                <div class="widget-header">
                                    <span class="widget-caption">Energy Charges</span>

                                    <div class="widget-buttons">
                                        <a href="" widget-collapse></a>
                                        <a href="" widget-dispose></a>
                                    </div>
                                </div>
                                <div class="show-hide-animate">
                                    <div ng-show="showBar" class="widget-body show-hide-animate" style="padding-top:20px">
                                        <div class="chartcontainer" style="width: 100%;">
                                            <canvas tc-chartjs-bar chart-options="barChartOptions" chart-data="costsBarChart" auto-legend></canvas>
                                        </div>
                                    </div>
                                    <div ng-show="!showBar" class="widget-body show-hide-animate" style="height: 360px;  padding-top:5px; padding-right:0; padding-left:0">
                                        <div class="col-lg-12" ng-if="energyChargesChart.data">
                                            <div google-chart chart="energyChargesChart" style="height:330px; width:100%; padding-right:5px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6" ng-style="{opacity: ((loading) && .4) || 1.0}">
                            <div class="widget">
                                <div class="widget-header">
                                    <span class="widget-caption">Electricity Consumption</span>

                                    <div class="widget-buttons">
                                        <a href="" widget-collapse></a>
                                        <a href="" widget-dispose></a>
                                    </div>
                                </div>
                                <div class="show-hide-animate">
                                    <div ng-show="showBar" class="widget-body show-hide-animate" style="padding-top:20px">
                                        <div class="chartcontainer" style="width: 100%;">
                                            <canvas tc-chartjs-bar chart-options="barChartOptions" chart-data="consBarChart" auto-legend></canvas>
                                        </div>
                                    </div>
                                    <div ng-show="!showBar" class="widget-body show-hide-animate" style="height: 360px;  padding-top:5px; padding-right:0; padding-left:0">
                                        <div class="col-lg-12" ng-if="electricityConsumptionChart.data">
                                            <div google-chart chart="electricityConsumptionChart" style="height:330px; width:100%; padding-right:5px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header  bg-themeprimary">
                    <span class="widget-caption">Summary of Data on File (based on {{monthSpan}} months of data)</span>

                    <div class="widget-buttons">
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div>
                </div>
                <div class="widget-body" ng-style="{opacity: ((loading) && .4) || 1.0}">
                    @*<canvas tc-chartjs-pie chart-options="options" chart-data="data" auto-legend></canvas>*@
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div ng-if="activeSites" class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="databox databox-lg databox-shadowed databox-graded radius-bordered">
                                    <label data-toggle="popover" data-content="From the {{activeSites}} active sites, {{missingInvoices}} invoices have yet to be filed ({{missingPercent}}%)."
                                           data-title="" data-placement="auto" data-trigger="hover">
                                        <div class="databox-left bg-lightred" style="padding:4px;">
                                            <div class="databox-piechart">
                                                <span ng-if="missingPercent" class="standard-piechart" easypiechart options="missingOptions" percent="missingPercent">
                                                    <span class="percent" ng-bind="missingPercent"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="databox-right">
                                        <span class="databox-number themesecondary">{{missingPercent}}% of invoices missing</span>
                                        <div class="databox-text darkgray">From {{activeSites}} Sites ({{missingInvoices}} missing invoices)</div>
                                        <div class="databox-stat themesecondary radius-bordered">
                                            <i class="stat-icon icon-lg fa fa-tasks"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="databox databox-lg databox-shadowed databox-graded radius-bordered">
                                    <label data-toggle="popover" data-content="Out of a possible {{totalSites}} sites, currently {{filedPercent}}% of sites have filed invoices."
                                           data-title="" data-placement="auto" data-trigger="hover">
                                        <div class="databox-left bg-lightred" style="padding:4px;">
                                            <div class="databox-piechart">
                                                <span ng-if="filedPercent" class="standard-piechart" easypiechart options="filedOptions" percent="filedPercent">
                                                    <span class="percent" ng-bind="filedPercent"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="databox-right">
                                        <span class="databox-number themesecondary">{{filedPercent}}% of sites with data</span>
                                        <div class="databox-text darkgray">{{totalSites - activeSites}} Sites on file with no data</div>
                                        <div class="databox-stat themesecondary radius-bordered">
                                            <i class="stat-icon icon-lg fa fa-tasks"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-show="false">
                                <div class="databox databox-lg databox-shadowed databox-graded radius-bordered">
                                    <div class="databox-left bg-lightred" style="padding:4px;">
                                        <div class="databox-piechart">
                                            <span class="standard-piechart" easypiechart options="EPoptions" percent="EPpercent">
                                                <span class="percent" ng-bind="EPpercent"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="databox-right">
                                        <span class="databox-number themesecondary">65% of invoices</span>
                                        <div class="databox-text darkgray">From 5 Sites</div>
                                        <div class="databox-stat themesecondary radius-bordered">
                                            <i class="stat-icon icon-lg fa fa-tasks"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section PageScripts{

    <!-- Dashboard -->

    <script src="~/App_/dashboard/dashboard.data.js"></script>
    <script src="~/App_/dashboard/dashboard.ctrl.js"></script>

    <!--Specific to Elements on this page-->
    <script src="~/Scripts/charts/chartjs/Chart.js"></script>


    <script src="~/App_/core/customFilters.js"></script>


}
