@{
    ViewBag.Title = "Detail By Site";
    ViewBag.Description = "Detail By Site";
    Layout = "~/Views/Shared/_Default.cshtml";
}

@*<div data-ng-app="companyOverview" data-ng-controller="companyOverviewViewModel">*@
<div data-ng-app="app.detailBySite" data-ng-controller="app.detailBySite.ctrl">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12" ng-show="customerList.length>0">
            <div class="widget">
                <div class="widget-header  bordered-blue">
                    <span class="widget-caption">{{groupCompanyDetail.groupName}}</span>
                    <div class="widget-buttons">
                        @*<a href="" widget-config></a>*@
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header bg-themeprimary">
                    @*<i class="widget-icon fa fa-compress"></i>*@
                    <span class="widget-caption">
                        <ng-pluralize count="invDistn.length"
                                      when="{'1': '{} Site,',
                                'other': '{} Sites,'}">
                        </ng-pluralize>
                        showing {{monthSpan}} months of data
                        <span class="databox-number white tootip-info" data-container="body" data-titleclass="bordered-blue" data-class="dark" data-toggle="popover-hover" data-placement="auto"
                              data-title="Comparing Data Between Sites" data-content="Lines show comparative costs and consumption between the selected sites. The largest value in each category will fill the available space." data-original-title="" title="">
                            <i class="fa fa-2x fa-question "></i>
                        </span>
                    </span>
                    <div class="widget-buttons">
                        <div class="btn-group">
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-sm">Last {{monthSpan}} Months</a>
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary  btn-sm dropdown-toggle " aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="_month in monthSpanOptions " data-ng-click="reviseMonths(_month)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}">
                                    <a href="javascript:void(0);"><i class="widget-icon fa fa-calendar"></i>&nbsp;&nbsp;{{_month}} months</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="box-tabbs">
                        <div class="tabbable">
                            <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                <li class="active">
                                    <a data-toggle="tab" href="#analysis">
                                        Totals and Analysis
                                    </a>
                                </li>
                                @*<li>
                                        <a data-toggle="tab" href="#approvals">
                                            Approvals
                                        </a>
                                    </li>*@
                            </ul>
                            <div class="tab-content tabs-flat no-padding">
                                <div id="analysis" class="tab-pane animated fadeInUp no-padding-bottom active" style="padding:20px 20px 0 20px;">
                                    @Html.Partial("DetailBySitePartials/_Analysis")
                                </div>
                                <div id="approvals" class="tab-pane animated fadeInUp no-padding-bottom" style="padding:20px 20px 0 20px;">
                                    @Html.Partial("CompanyOverviewPartials/_Approvals")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageScripts{
    @*<script src="~/Scripts/charts/flot/jquery.flot.crosshair.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.selection.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.min.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.resize.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.axislabels.js"></script>
        <script src="~/Scripts/charts/flot/jquery.flot.tooltip.js"></script>
        <script src="~/Scripts/charts/flot/angular-flot.js"></script>*@

    @*<script src="~/App/Directives/widget.js"></script>
        <script src="~/App_/core/App.js"></script>
        <script src="~/App_/core/userDataSource.data.js"></script>*@
    <script src="~/App_/detailBySite/detailBySite.data.js"></script>
    <script src="~/App_/detailBySite/detailBySite.ctrl.js"></script>
    <script src="~/App_/core/customFilters.js"></script>
    @*<script src="~/App_/common/directives/widget.js"></script>
        <script src="~/App_/core/customFilters.js"></script>
        <script src="~/Scripts/angular-ui-utils/angular-ui-utils.js"></script>*@
}
@*<style>
        .progress-compact {
            /*background-color: #f5f5f5;
                                                        border-radius: 4px;
                                                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
                                                        height: 20px;*/
            margin-bottom: 5px;
            overflow: hidden;
        }
    </style>*@
