@{
    ViewBag.Title = "Detail By Site";
    ViewBag.Description = "Detail By Site";
    Layout = "~/Views/Shared/_Default.cshtml";
}

@*<div data-ng-app="companyOverview" data-ng-controller="companyOverviewViewModel">*@
<data-ng-app ="app.detailBySite" data-ng-controller="app.detailBySite.ctrl">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12" ng-show="customerList.length>0">
            <div class="widget">
                <div class="widget-header  bordered-blue">
                    <span class="widget-caption">{{groupCompanyDetail.groupName}}</span>
                    <div class="widget-buttons">
                        @*<a href="" widget-config></a>*@
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>

            </div>
        </div>

    </div>
    <toaster-container></toaster-container>
    <div class="row">
        
        <div class="col-md-12">
            <div class="widget">
                
                <div class="widget-header bg-themeprimary">
                    @*<i class="widget-icon fa fa-compress"></i>*@
                    <span class="widget-caption">
                        <i ng-show="loading" class="fa fa-refresh fa-fw" ng-class="{'fa-spin' : loading}"></i>
                        <span ng-show="!loading">
                            <ng-pluralize count="siteDetailData.length"
                                          when="{'1': '{} Site,',
                                'other': '{} Sites,'}">
                            </ng-pluralize>
                            showing {{monthSpan}} months of data
                        </span>
                    </span>
                    <div class="widget-buttons">
                        <div class="btn-group">
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-sm">Last {{monthSpan}} Months</a>
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary  btn-sm dropdown-toggle " aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="_month in monthSpanOptions " data-ng-click="reviseMonths(_month)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}">
                                    <a href="javascript:void(0);"><i class="widget-icon fa fa-calendar"></i>&nbsp;&nbsp;{{_month}} months</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                   
                    <div class="box-tabbs">
                        <div class="tabbable">
                            <ul class="nav nav-tabs nav-justified" id="myTab11">
                                <li class="active">
                                    <a data-toggle="tab" href="#analysis">
                                        Totals and Analysis
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#approvals" ng-show="false">
                                        Approvals
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tabs-flat no-padding" ng-style="{opacity: ((loading) && .4) || 1.0}">
                                <div id="analysis" class="tab-pane animated fadeInUp no-padding-bottom active" style="padding:20px 20px 0 20px;">
                                    <p style="padding: 20px 20px 0;" class="bg-white">
                                        @Html.Partial("DetailBySitePartials/_AnalysisSortHeader")
                                    </p>
                                    <i ng-show="loading" style="position:absolute; left:50%; top:20px; margin:auto;" class="fa fa-2x fa-refresh fa-fw" ng-class="{'fa-spin' : loading}"></i>
                                    <accordion close-others="oneAtATime">
                                        <div ng-repeat="division in divisions" ng-init="openFirst=divisionView[$index]">
                                            @*<accordion-group heading="{{division}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">*@
                                            <accordion-group ng-value="search.divisionName=division" is-open="openFirst">
                                                @*<hr class=" wide">
                                                *@
                                                <accordion-heading>
                                                    <h5>
                                                        @*<span ng-if="search.divisionName.length==0||!search.divisionName">{{::emptyDivisionName}}</span>*@
                                                        <span ng-if="search.divisionName.length>0">
                                                            {{::search.divisionName}}
                                                        </span>
                                                        (
                                                        <ng-pluralize count="results.length"
                                                                      when="{'1': '{} Site',
                                                                            'other': '{} Sites'}">
                                                        </ng-pluralize>
                                                        )
                                                    </h5>
                                                </accordion-heading>

                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td width="20%" class="responsive-td"></td>
                                                            <td width="30%">
                                                                <span class="databox-number white tootip-info pull-left" data-container="body"
                                                                      data-titleclass="bordered-blue" data-class="dark"
                                                                      data-toggle="popover" data-placement="auto"
                                                                      data-title="Comparing Data Between Sites"
                                                                      data-content="Lines show comparative costs and consumption between the selected sites. The largest value in each category will fill the available space."
                                                                      data-original-title=""
                                                                      data-trigger="hover">
                                                                    <i class="fa fa-2x fa-info-circle" style="color:#262626"></i>
                                                                    <span style="font-size:large; color:GrayText">Totals</span>
                                                                </span>
                                                            </td>
                                                            <td width="20%">
                                                                <span class="databox-number white tootip-info pull-left" data-container="body"
                                                                      data-titleclass="bordered-blue" data-class="dark"
                                                                      data-toggle="popover" data-placement="auto"
                                                                      data-title="History"
                                                                      data-content="Graph shows change in value over time."
                                                                      data-original-title=""
                                                                      data-trigger="hover">
                                                                    <i class="fa fa-2x fa-info-circle" style="color:#262626"></i>
                                                                    <span style="font-size:large; color:GrayText">History</span>
                                                                </span>
                                                            </td>
                                                            <td width="25%">
                                                                <span class="databox-number white tootip-info pull-left" data-container="body"
                                                                      data-titleclass="bordered-blue" data-class="dark"
                                                                      data-toggle="popover" data-placement="auto"
                                                                      data-title="Invoices"
                                                                      data-content="Bar shows total expected number of invoices for the period, split by those approved, waiting for approval or currently missing."
                                                                      data-original-title=""
                                                                      data-trigger="hover">
                                                                    <i class="fa fa-2x fa-info-circle" style="color:#262626"></i>
                                                                    <span style="font-size:large; color:GrayText">Invoices On File</span>
                                                                </span>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>


                                                @*<tr class="well with-header" style="background-color:#f5f5f5!important;">
                <th colspan="6"><div class="col-md-4"></div><div class="col-md-8">Test</div></th>
            </tr>*@
                                                @*<div ng-repeat="siteDetail in siteDetailData |filter:search|orderBy:predicate:reverse" id="analysisPortal">*@
                                                <div ng-repeat="siteDetail in results = (siteDetailData |filter:search|orderBy:predicate:reverse)" id="analysisPortal">
                                                    <div ng-show="siteDetail.invoiceKeyData.totalInvoicesOnFile > 0 || showEmpty">
                                                        @Html.Partial("DetailBySitePartials/_Analysis")
                                                    </div>
                                                </div>
                                            </accordion-group>
                                        </div>
                                    </accordion>
                                </div>
                                <div id="approvals" class="tab-pane animated fadeInUp no-padding-bottom" style="padding:20px 20px 0 20px;">
                                    @Html.Partial("DetailBySitePartials/_Approvals")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section PageScripts{
        @*<script src="~/Scripts/angular-ui-bootstrap/ui-bootstrap.js"></script>*@
        <script src="~/Scripts/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="~/Scripts/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="~/Scripts/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="~/App_/detailBySite/detailBySite.data.js"></script>
        <script src="~/App_/detailBySite/detailBySite.ctrl.js"></script>
        <script src="~/App_/core/customFilters.js"></script>

        @*<script type="text/javascript">
                //<![CDATA[
                $(window).load(function () {
                    $('.progress-bar[data-toggle="tooltip"]').tooltip({
                        animated: 'fade',
                        placement: 'bottom'
                    });
                });//]]>

            </script>*@
    }
