@{
    ViewBag.Title = "Detail By Site";
    ViewBag.Description = "Detail By Site";
    Layout = "~/Views/Shared/_Default.cshtml";
}

@*<div data-ng-app="companyOverview" data-ng-controller="companyOverviewViewModel">*@
<data-ng-app ="app.detailBySite" data-ng-controller="app.detailBySite.ctrl">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12" ng-show="customerList.length>0">
            <div class="widget">
                <div class="widget-header  bordered-blue">
                    <span class="widget-caption">{{groupCompanyDetail.groupName}}</span>
                    <div class="widget-buttons">
                        @*<a href="" widget-config></a>*@
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div><!--Widget Buttons-->
                </div>

            </div>
        </div>

    </div>
    <toaster-container></toaster-container>
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header bg-themeprimary">
                    @*<i class="widget-icon fa fa-compress"></i>*@
                    <span class="widget-caption">
                        <ng-pluralize count="siteDetailData.length"
                                      when="{'1': '{} Site,',
                                'other': '{} Sites,'}">
                        </ng-pluralize>
                        showing {{monthSpan}} months of data
                    </span>
                    <div class="widget-buttons">
                        <div class="btn-group">
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-default btn-sm">Last {{monthSpan}} Months</a>
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary  btn-sm dropdown-toggle " aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="_month in monthSpanOptions " data-ng-click="reviseMonths(_month)" class="widget-caption" ng-class="{'themeprimary' : monthSpan==_month}">
                                    <a href="javascript:void(0);"><i class="widget-icon fa fa-calendar"></i>&nbsp;&nbsp;{{_month}} months</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="box-tabbs">
                        <div class="tabbable">
                            <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                <li class="active">
                                    <a data-toggle="tab" href="#analysis">
                                        Totals and Analysis
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#approvals" ng-show="false">
                                        Approvals
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tabs-flat no-padding" ng-style="{opacity: ((loading) && .4) || 1.0}">
                                <div id="analysis" class="tab-pane animated fadeInUp no-padding-bottom active" style="padding:20px 20px 0 20px;" >
                                    <p style="padding: 20px 20px 0;" class="bg-whitesmoke">
                                        @Html.Partial("DetailBySitePartials/_AnalysisSortHeader")
                                    </p>
                                    <accordion close-others="oneAtATime">
                                        <div ng-repeat="division in divisions">
                                            @*<accordion-group heading="{{division}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">*@
                                            <accordion-group ng-value="search.divisionName=division">
                                                @*<hr class="wide">*@
                                                <accordion-heading>
                                                    <h2>{{search.divisionName}}</h2>
                                                </accordion-heading>
                                                <div ng-repeat="siteDetail in siteDetailData |filter:search|orderBy:predicate:reverse" id="analysisPortal">
                                                    @Html.Partial("DetailBySitePartials/_Analysis")
                                                </div>
                                            </accordion-group>
                                        </div>
                                    </accordion>
                                </div>
                                <div id="approvals" class="tab-pane animated fadeInUp no-padding-bottom" style="padding:20px 20px 0 20px;">
                                    @Html.Partial("DetailBySitePartials/_Approvals")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section PageScripts{
        <script src="~/Scripts/angular-ui-bootstrap/ui-bootstrap.js"></script>
        <script src="~/App_/detailBySite/detailBySite.data.js"></script>
        <script src="~/App_/detailBySite/detailBySite.ctrl.js"></script>
        <script src="~/App_/core/customFilters.js"></script>

    }
