@{
    ViewBag.Title = "Dashboard";
    ViewBag.Description = "Cimsco Dashboard";
    Layout = "~/Views/Shared/_Default.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="databox databox-xxlg radius-bordered databox-shadowed databox-vertical databox-graded">
            <div class="databox-top bordered-bottom-2 bordered-orange bg-ivory">
                <div class="col-lg-8 col-sm-8 col-xs-8 text-align-left">
                    <span class="databox-text carbon">ELECTRICITY COSTS</span>
                    <span class="databox-text carbon no-margin">Previous 7 Months</span>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4 text-align-right">
                    <div class="databox-stat bg-palegreen radius-bordered">
                        <div class="stat-text">58%</div>
                        <i class="stat-icon fa fa-arrow-up"></i>
                    </div>
                </div>
            </div>
            <div class="databox-bottom">
                <div id="bar-chart" class="chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="databox databox-xxlg databox-vertical databox-shadowed bg-white radius-bordered">
            <div class="databox-top bg-blue">
                <span class="databox-header">JANUARY 2015</span>
                <span class="databox-header">total</span>
            </div>
            <div class="databox-row row-12">
                <div class="databox-cell cell-6 text-center">
                    <div id="donut-chart" class="chart" style="height:190px;"></div>
                </div>
                <div class="databox-cell cell-6 text-center">
                    <div class="databox-row row-12">
                        <div class="databox-text carbon">TOTAL CHARGE : $10,354.03</div>
                        <div class="databox-text carbon">DUE DATE : 31 May 2015</div>
                        <div class="databox-text carbon">
                            <label>
                                <input id="checkbox_fixedsidebar" type="checkbox">
                                <span class="text">Approved</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section PageScripts{
    <script src="assets/js/beyond.min.js"></script>

    <!--Page Related Scripts-->
    <script src="/assets/js/charts/morris/raphael-2.0.2.min.js"></script>
    <script src="/assets/js/charts/morris/morris.js"></script>
    <script src="/assets/js/charts/morris/morris-init.js"></script>




    <script src="/assets/js/charts/chartjs/Chart.js"></script>

    <script type="text/javascript">
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

            //  InitiateAreaChart.init();
            var data = getjsonData("/portal/GetMonthlyEnergySummary");
            alert(data.length);
            InitiateBarChart.init();
            InitiateDonutChart.init();
            InitiateLineChart.init();
            //    InitiateLineChart2.init();
        });

        function getjsonData(viewmodel, dim) {
            if (typeof dim === 'undefined') { dim = ''; }
            //alert(viewmodel+' '+dim);
            var myArray = [];
            // Ensures the data is returned before passing to spark element
            $.ajaxSetup({ "async": false });
            var jq = $.getJSON(viewmodel)
                .done(function (data) {
                    $.each(data, function (i) { myArray.push(data[i]) });
                });
            //alert(target);
            //myArray = [1, 2, 3, 4];
            return myArray;
        }
    </script>
}
<a href="~/App_Data/TestJsonData.txt">~/App_Data/TestJsonData.txt</a>