@{
    ViewBag.Title = "Company Dashboard";
    ViewBag.Description = "Company Dashboard";
    Layout = "~/Views/Shared/_Default_.cshtml";
}

@*<div data-ng-app="companyOverview" data-ng-controller="companyOverviewViewModel">*@

<div data-ng-app="myModule" data-ng-controller="myController">
    {{test}}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="widget">
                <div class="widget-header">
                    <span class="widget-caption">Bar Chart</span>

                    <div class="widget-buttons">
                        <a href="" widget-collapse></a>
                        <a href="" widget-dispose></a>
                    </div>
                </div>

                <div class="widget-body">

                    @*<div class="chartcontainer">
                            <canvas id="bar" height="300" width="450"></canvas>

                        </div>*@
                    <div class="chartcontainer" style="width: 75%;">
                        <canvas tc-chartjs-bar chart-options="barChartOptions" chart-data="barChartData" auto-legend></canvas>
                    </div>
                    <button ng-click="refresh()">Test</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{

    <script src="~/Scripts/vendor/Chart.js"></script>
    <script src="~/Scripts/charts/chartjs/Chart.js"></script>
    <script src="~/Scripts/charts/chartjs/tc-angular-chartjs.js"></script>


    <script>
        angular
      .module('myModule', ['tc.chartjs'])
      .controller('myController', function ($scope) {

          $scope.refresh = function () {
              $scope.test = "update";

              $scope.barChartData = {
                  labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                  datasets: [
                    {
                        label: 'My First dataset',
                        fillColor: 'rgba(220,220,220,0.5)',
                        strokeColor: 'rgba(220,220,220,0.8)',
                        highlightFill: 'rgba(220,220,220,0.75)',
                        highlightStroke: 'rgba(220,220,220,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                        label: 'My Second dataset',
                        fillColor: 'rgba(151,187,205,0.5)',
                        strokeColor: 'rgba(151,187,205,0.8)',
                        highlightFill: 'rgba(151,187,205,0.75)',
                        highlightStroke: 'rgba(151,187,205,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    }
                  ]
              };


          }
          $scope.test = "test text";
          // Chart.js Data
          $scope.barChartData = {
              labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
              datasets: [
                {
                    label: 'My First dataset',
                    fillColor: 'rgba(220,220,220,0.5)',
                    strokeColor: 'rgba(220,220,220,0.8)',
                    highlightFill: 'rgba(220,220,220,0.75)',
                    highlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    label: 'My Second dataset',
                    fillColor: 'rgba(151,187,205,0.5)',
                    strokeColor: 'rgba(151,187,205,0.8)',
                    highlightFill: 'rgba(151,187,205,0.75)',
                    highlightStroke: 'rgba(151,187,205,1)',
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
              ]
          };

          // Chart.js Options
          $scope.barChartOptions = {

              // Sets the chart to be responsive
              responsive: true,

              //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
              scaleBeginAtZero: true,

              //Boolean - Whether grid lines are shown across the chart
              scaleShowGridLines: true,

              //String - Colour of the grid lines
              scaleGridLineColor: "rgba(0,0,0,.05)",

              //Number - Width of the grid lines
              scaleGridLineWidth: 1,

              //Boolean - If there is a stroke on each bar
              barShowStroke: true,

              //Number - Pixel width of the bar stroke
              barStrokeWidth: 2,

              //Number - Spacing between each of the X value sets
              barValueSpacing: 5,

              //Number - Spacing between data sets within X values
              barDatasetSpacing: 1,

              //String - A legend template
              legendTemplate: '<ul class="tc-chart-js-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>'
          };


      });
    </script>
}


