.padding-15 {
    padding: 15px;
}

.extended-databox {
    height: 190px;
}

.hide-element {
    visibility: hidden;
}

/*Region Portal Index Page */

i.widget-icon.fa.fa-calendar {
    color: black;
    margin: 0 auto;
    line-height: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.table {
    margin-bottom: 10px !important;
}

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 0px !important;
    }

.keys {
    width: auto !important;
}

/*div.google-visualization-tooltip {
    
}
div.google-visualization-tooltip > ul > li > span {
    color: #ff0000 !important;
}*/

@media only screen and (max-width: 768px) {
    /*.text {
            white-space: nowrap !important;
        }*/

    .keys {
        padding: 17px 0 19px !important;
        width: 33.33%;
    }

    .responsive-td {
        width: 45% !important;
    }

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    #no-more-tables table {
        padding: 0px;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables #tblTransactions td, #no-more-tables #tblconfirmbooking td {
        padding-left: 55% !important;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }


    #no-more-tables td:before {
        content: attr(data-title);
    }


    #no-more-tables .radio-inline {
        margin-left: 0px !important;
    }

    #no-more-tables .radio-list {
        margin-left: 0px !important;
    }

    #lasttrappoinment td {
        border: none !important;
    }

    #no-more-tables .btn {
        margin-bottom: 5px;
    }

    .col-lg-3.col-xs-3.col-sm-3.margin-top-20 {
        margin-top: 20px;
    }
}

/*END Region Portal Index Page */


/*Invoice Details Page*/

@media only screen and (max-width:320px) {
    .databox-cell.cell-4.text-align-center.bg-sky {
        padding: 13px !important;
    }
}

@media (min-width : 360px) and (max-width: 768px) {
    .databox-cell.cell-4.text-align-center.bg-sky {
        padding: 13px !important;
    }

    .databox-cell.cell-4.text-align-center.bg-azure {
        padding: 13px !important;
    }

    /*.databox-number.ng-binding {
            padding: 7px;
        }*/
}
/*End Invoice Details Page*/

/* Angular Animation */



.show-hide-animate {
    transition: all linear 0.5s;
}

    .show-hide-animate.ng-hide {
        opacity: 0;
    }

/*.animate-repeat {
}

    .animate-repeat.ng-move,
    .animate-repeat.ng-enter,
    .animate-repeat.ng-leave {
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
    }

        .animate-repeat.ng-leave.ng-leave-active,
        .animate-repeat.ng-move,
        .animate-repeat.ng-enter {
            opacity: 0;
            transform: translateX(-100%);
        }

            .animate-repeat.ng-leave,
            .animate-repeat.ng-move.ng-move-active,
            .animate-repeat.ng-enter.ng-enter-active {
                opacity: 1;
                transform: translateX(0);

            }*/


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

    .animate-repeat.ng-leave,
    .animate-repeat.ng-move.ng-move-active,
    .animate-repeat.ng-enter.ng-enter-active {
        opacity: 1;
        bottom: 0;
        height: 30px;
    }

        .animate-repeat.ng-leave.ng-leave-active,
        .animate-repeat.ng-move,
        .animate-repeat.ng-enter {
            opacity: 0;
            bottom: -50px;
            height: 0px;
        }

.animate-show-hide {
    transition: all linear 0.5s;
}

    .animate-show-hide.ng-hide {
        opacity: 0;
    }

.popover {
    /* just in case it would overlap with fixed navbar, then show this over the navbar. Original value 1010, value for navbar is 1030 */
    z-index: 1030;
}

.databox.databox-lg .databox-right.thin-margin {
    padding: 8px;
}
