.padding-15 {
    padding: 15px;
}

.extended-databox {
    height: 190px;
}

.hide-element {
    visibility: hidden;
}

/*Region Portal Index Page */

i.widget-icon.fa.fa-calendar {
    color: black;
    margin: 0 auto;
    line-height: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.table {
    margin-bottom: 10px !important;
}

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 0px !important;
    }

.keys {
    width: auto !important;
}

/*div.google-visualization-tooltip {
    
}
div.google-visualization-tooltip > ul > li > span {
    color: #ff0000 !important;
}*/

@media only screen and (max-width: 768px) {
    /*.text {
            white-space: nowrap !important;
        }*/

    .keys {
        padding: 17px 0 19px !important;
        width: 33.33%;
    }

    .responsive-td {
        width: 45% !important;
    }

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    #no-more-tables table {
        padding: 0px;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables #tblTransactions td, #no-more-tables #tblconfirmbooking td {
        padding-left: 55% !important;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }


    #no-more-tables td:before {
        content: attr(data-title);
    }


    #no-more-tables .radio-inline {
        margin-left: 0px !important;
    }

    #no-more-tables .radio-list {
        margin-left: 0px !important;
    }

    #lasttrappoinment td {
        border: none !important;
    }

    #no-more-tables .btn {
        margin-bottom: 5px;
    }

    .col-lg-3.col-xs-3.col-sm-3.margin-top-20 {
        margin-top: 20px;
    }
}

/*END Region Portal Index Page */


/*Invoice Details Page*/

@media only screen and (max-width:320px) {
    .databox-cell.cell-4.text-align-center.bg-sky {
        padding: 13px !important;
    }
}

@media (min-width : 360px) and (max-width: 768px) {
    .databox-cell.cell-4.text-align-center.bg-sky {
        padding: 13px !important;
    }

    .databox-cell.cell-4.text-align-center.bg-azure {
        padding: 13px !important;
    }

    /*.databox-number.ng-binding {
            padding: 7px;
        }*/
}
/*End Invoice Details Page*/

/* Angular Animation */



.show-hide-animate {
    transition: all linear 0.5s;
}

    .show-hide-animate.ng-hide {
        opacity: 0;
    }

/*.animate-repeat {
}

    .animate-repeat.ng-move,
    .animate-repeat.ng-enter,
    .animate-repeat.ng-leave {
        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;
    }

        .animate-repeat.ng-leave.ng-leave-active,
        .animate-repeat.ng-move,
        .animate-repeat.ng-enter {
            opacity: 0;
            transform: translateX(-100%);
        }

            .animate-repeat.ng-leave,
            .animate-repeat.ng-move.ng-move-active,
            .animate-repeat.ng-enter.ng-enter-active {
                opacity: 1;
                transform: translateX(0);

            }*/


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

    .animate-repeat.ng-leave,
    .animate-repeat.ng-move.ng-move-active,
    .animate-repeat.ng-enter.ng-enter-active {
        opacity: 1;
        bottom: 0;
        height: 30px;
    }

        .animate-repeat.ng-leave.ng-leave-active,
        .animate-repeat.ng-move,
        .animate-repeat.ng-enter {
            opacity: 0;
            bottom: -50px;
            height: 0px;
        }

.animate-show-hide {
    transition: all linear 0.5s;
}

    .animate-show-hide.ng-hide {
        opacity: 0;
    }

.popover {
    /* just in case it would overlap with fixed navbar, then show this over the navbar. Original value 1010, value for navbar is 1030 */
    z-index: 1030;
}

.databox.databox-lg .databox-right.thin-margin {
    padding: 8px;
}

.standard-piechart {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 7px;
    margin-bottom: 5px;
    text-align: center;
}

    .standard-piechart canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

.percent,
.ep-integer {
    display: inline-block;
    line-height: 60px;
    z-index: 2;
}

    .percent:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
    }

/**Added 9-Sept-2016**/
#logoutForm li.dropdown-footer {
    border-top: 3px solid #fb6e52 !important;
    padding: 10px !important;
    border-bottom: 0 !important;
    text-align: right !important;
    margin-top: 1px !important;
}

    #logoutForm li.dropdown-footer a {
        color: #717171 !important;
        font-size: 13px !important;
        font-weight: 300 !important;
    }

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-login-area > li.edit a:hover {
    color: #0072c6 !important;
}

/*.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-login-area > li .avatar-area {
    width: 160px !important;
}*/

.navbar .navbar-inner .navbar-header .navbar-account {
    height: auto !important;
}

.navbar-topLevelName {
    padding-top: 10px;
    font-size: large;
    color: white;
    height: 45px;
    padding-left: 22px;
}

.databox .databox-number {
    font-size: 15px !important;
}

.navbar .navbar-brand {
    padding: 2px 0 2px 10px !important;
}

.navbar-header .email {
    width: 100%;
}

    .navbar-header .email a {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto !important;
    }

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
    border-top: 2px solid #0072c6 !important;
}

.border-bottom-gray {
    border-bottom: 1px solid #ccc;
}

.accordion.panel-group .panel-heading .accordion-toggle:after {
    top: 20px !important;
}

.bordered-darkblue {
    border-color: #0072c6 !important;
}



.databox .databox-cell {
    padding: 0px !important;
}

.databox {
    display: block !important;
}

.bordered-darkorange {
    border-bottom: 3px solid #ed4e2a !important;
    padding: 0 10px !important;
    line-height: 34px !important;
    /*margin-bottom: 10px !important;*/
}

.bordered-blue {
    border-bottom: 3px solid #5db2ff !important;
    padding: 0 10px !important;
    line-height: 34px !important;
    /*margin-bottom: 10px !important;*/
}

#approvals-action {
    width: 240px;
}

.dropdown-footer a {
    display: inline-block !important;
}

.dropdown-footer button {
    margin-right: 10px !important;
}

.border-custom {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.validation-summary-errors {
    margin-top: 10px;
}

.register-container .registerbox {
    height: 490px !important;
}



@media all and (max-width: 631px) {
    #InvoiceList .databox .databox-number, #InvoiceList .databox .databox-text {
        font-size: 12px !important;
    }
}

@media all and (max-width: 560px) {
    #InvoiceList .databox.databox-lg {
        height: 150px;
    }

        #InvoiceList .databox.databox-lg .databox-right, #InvoiceList .databox.databox-lg .databox-left {
            height: 150px;
        }


    #InvoiceList .invoices-custom {
        /*width: 100%;*/
        width: auto;
    }
}

@media all and (max-width: 360px) {
    #InvoiceList .databox.databox-lg .databox-left {
        height: 80px;
    }

    #InvoiceList .databox.databox-lg {
        height: 230px;
    }

        #InvoiceList .databox.databox-lg .databox-left {
            border-bottom: 3px solid #0072c6 !important;
            width: 100%;
        }

    #InvoiceList .databox .databox-right.bordered-thick {
        border-left: none !important;
    }

    #InvoiceList .databox-left .databox-stat.radius-bordered {
        left: 0 !important;
        margin: 0 5% !important;
        width: 90% !important;
    }

    #InvoiceList .databox-left .databox-number {
        font-size: 20px !important;
    }

    .SlineComposite canvas {
        width: 180px !important;
    }

    .register-container .registerbox {
        height: 530px !important;
        margin: 10px;
        width: 300px !important;
    }

    div.databox label {
        display: none;
    }

    div.databox .databox-right {
        width: 100% !important;
    }

    .navbar-topLevelName {
        font-size: 13px !important;
    }
}


@media only screen and (max-width: 530px) {
    .navbar .navbar-brand {
        padding-left: 20px !important;
    }
}

@media all and (max-width: 390px) {
    .databox .databox-number {
        font-size: 13px !important;
    }
}

@media all and (max-width: 600px) {
    .mmArrowLeftTop, .mmArrowRightTop {
        top: 65px !important;
    }
}

@media all and (max-width: 530px) {
    .mmArrowLeftTop, .mmArrowRightTop {
        top: 110px !important;
    }
}

@media all and (max-width: 580px) {
    .navbar-topLevelName {
        font-size: 14px !important;
    }
}




.table-scrollable.editabledatatable {
    border: none !important;
}

@media all and (max-width: 1024px) {
    #editabledatatable_wrapper {
        width: 1024px !important;
    }

    .editabledatatable .DTTTFooter {
        width: 1024px !important;
    }
}


.custom-edit-form, .custom-detail-form {
    width:50%;margin:0 auto;
}
@media all and (max-width: 768px) {
   .custom-edit-form, .custom-detail-form {
    width:100%;margin:0 auto;
}
}
@media (min-width: 769px) and (max-width: 800px) {
   .custom-edit-form, .custom-detail-form {
    width:80%;margin:0 auto;
}
}

@media all and (max-width: 370px) {
    .form-username-detail {
        /*width: 195px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}

.gc-tooltip {
    color: black;
}
.gc-tooltip.positive {
    background-color:#f4b400;
}
    .gc-tooltip.negative {
        background-color: #8cc474;
    }
    .gc-tooltip.unchanged {
        background-color: #11a9cc;
    }

.databox.databox-lg.c-custom {
    height: 120px;
}

/*
    Datapoint detail list custom formatting
*/
.task-container .tasks-list .task-item .datapoint-missingData {
    left: 45px;
    position: absolute;
    top: 150px;
}
.task-container .tasks-list .datapoint-extendedTaskItem {
    height: 200px;
    position: relative;
}

.task-container .tasks-list .task-item .datapoint-extendedTaskBody {
    height: 80px;
    left: 45px;
    line-height: 22px;
    overflow: hidden;
    padding-right: 25px;
    position: absolute;
    top: 60px;
}

/* from Invoices page formatting */
        span.label.label-info.pull-right {
            position: absolute;
            left: -44px;
            cursor: pointer;
        }

        .checkbox + .checkbox, .radio + .radio {
            margin-top: 10px !important;
        }

        .form-title {
            border-bottom: 3px solid #0072c6 !important;
        }

        .databox .databox-text {
            font-size: 15px !important;
        }

        .databox.databox-lg .databox-number {
            font-size: 16px;
            margin: 0 auto;
        }

        .databox-text .header {
            float: right;
        }

        .well.bordered-left.bordered-themeprimary {
            margin-bottom: 2px !important;
            padding: 10px !important;
        }

        @@media only screen and (max-width: 768px) {
            .databox-right.bordered-thick.bordered-sky.bg-white {
                padding: 0px 15px !important;
            }

            .databox.databox-lg .databox-number {
                font-size: 15px !important;
            }

            .databox-text.header {
                float: left;
            }

            .well.bordered-left.bordered-themeprimary {
                /*padding: 2px 5px 16px 5px !important;*/
                padding: 10px 5px -1px 5px !important;
            }

            span.label.label-info.pull-right {
                position: absolute;
                left: -47px;
                cursor: pointer;
                top: 26px;
            }

            span.btn-xs.btn-palegreen.pull-right {
                position: absolute;
                left: -22px;
                top: 35px;
            }
        }
/*END*/
